# Ignores csv files
*.csv

# Ignores png files
*.png

# Ignores specific directories
data/
output/

# Ignores jupyter files
*.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Ignores virtual environment
venv/
